@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class=text-center>
    <h1>404</h1>
    <p class=text-danger style="font-size:larger">
        Что-то пошло не так...
    </p>
</div>

