@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать в панель управления</h1>
        <p><h1 class="display-4 fw-bold ">ВАГОНОРЕМОНТНЫМ ДЕПО</h1></p>
    </div>
</body>


