@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<div style="max-width: 450px; text-align: justify; text-indent: 30px">

<p>Владелец сайта берёт у каждого посетителя согласие на сбор, обработку и хранение персональных данных. Подписывать документ на бумаге — затруднительно, из-за этого сайт растеряет всех посетителей. Поэтому есть способ проще — выложить на сайт специальный документ.</p>
<p>В политике конфиденциальности прописывают, какую информацию и с какой целью собирают. Сообщают также, какое действие считается согласием на обработку персональных данных. Например, оформление заказа или заполнение формы — 
    <a href="https://www.google.com/search?q=2 ст. 18.1 152-ФЗ.">ч. 2 ст. 18.1 152-ФЗ.</a></p>

</div>